{% load static %}
<header>
    <nav class="navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
                Snippets
            </a>

<!--            <button class="navbar-toggler" type="button" data-target="#navbarCollapse"-->
<!--                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="form-inline"><a class="btn"
                                               href="{% url 'snippets_list_page' %}">База сниппетов</a></li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                    <span class="navbar-text">Добро пожаловать, {{request.user.username }}!</span>
                    <li class="form-inline"><a class="btn"
                                               href="{% url 'add_snippet_page' %}">Добавить сниппет</a></li>
                    <li class="form-inline"><a class="btn"
                                               href="{% url 'my_snippets_list_page' %}">Мои сниппеты</a></li>
                    <li class="form-inline"><a class="btn btn-outline-info"
                                               href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                    <form method="post" action="{% url 'login' %}">{% csrf_token %}
                        <input name="username" class="btn btn-light" type="text" placeholder="Логин">
                        <input name="password" class="btn btn-light" type="password" placeholder="Пароль">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                    <li class="form-inline"><a class="btn btn-dark"
                                               href="{% url 'registration' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>