{% load static %}
{% load crispy_forms_tags %}
<header>
    <nav class="navbar fixed-top navbar-expand-md bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
            </a>
            <a class="navbar-btn btn" href="{% url 'snippets_list_page' %}">Сниппеты</a>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                    {% if request.user.username|length > 15 %}
                    {{ request.user.username|slice:14 }}...
                    {% else %}
                    {{ request.user.username }}
                    {% endif %}
                    {% else %}
                    Вход
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-end" style="width: 380px;">
                    {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'add_snippet_page' %}">Добавить сниппет</a>
                    <a class="dropdown-item" href="{% url 'my_snippets_list_page' %}">Мои сниппеты</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                    {% else %}
                    <form class="px-4 py-3" action="{% url 'login' %}" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input name="username" class="form-control" placeholder="Логин" maxlength="150">
                        </div>
                        <input type="password" name="password" class="textinput textInput form-control"
                               placeholder="Пароль">
                        <input type="submit" class="btn btn-success form-control" value="Войти">
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="btn form-control" href="{% url 'registration' %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>