{% extends 'base.html' %}
{% load codetags %}

{% block main %}
<form action="{% url 'add_snippet_page' %}" method="post" class="form-group">
    {% csrf_token %}
    <div class="form-group row">
        <div class="row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Сохранить">
            </div>
            <div class="col-1">Имя</div>
            <div class="col">{{ form.name }}</div>
            <div class="col-1">Язык</div>
            <div class="col-1">{{ form.lang }}</div>
            <div class="col-1">Скрытый</div>
            <div class="col-1">{{ form.is_private }}</div>
        </div>
        <div class="row">
            <div class="col-1">Код</div>
            <div class="col">
                <code>{{ form.code }}</code>
            </div>
        </div>
    </div>
</form>
{% endblock %}