{% extends 'pages/snippet_list.html' %}
{% load static %}

{% block main %}
<table id="snippets_table" class="display">
    <thead>
    <tr>
        <th><img src="{% static 'icons/lock.png' %}" width="16"></th>
        <th>Имя</th>
        <th>Язык</th>
        <th><img src="{% static 'icons/heart_0.png' %}" width="16"></th>
        <th><img src="{% static 'icons/comment.png' %}" width="16"></th>
        <th>Дата</th>
        <th></th>
    </tr>
    </thead>
</table>
{% endblock %}

{% block script %}
<script>
    $(document).ready( function () {
        $('#snippets_table').DataTable({
            language: {
                url: '{% static 'json/datatables-russian.json' %}'
            },
            order: [[5, 'asc']],
            "processing": true,
            "serverSide": true,
            "ajax": "/ajax/snippet_user_is_author/json",
            "columns": [
                {
                    "data": "is_private",
                    "render": function(data, type, row, meta){
                        if (data) {
                            data = '<img src={% static 'icons/lock.png' %} height=16>';
                        } else {
                            data = '';
                        }
                        return data
                    }
                },
                {
                    "data": "name",
                    "render": function(data, type, row, meta){
                        name = data;
                        if (name.length > 30) name = name.slice(0, 30
                        ) + '...';
                        data = '<a href="/snippets/' + row.slug + '">' + name + '</a>';
                        return data;
                    }
                },
                {"data": "lang"},
                {"data": "like_count"},
                {"data": "comment_count"},
                {
                    "data": "creation_date",
                    "render": function(data, type, row, meta){
                        d = new Date(data);
                        dd = '' + d.getDate();
                        mm = '' + d.getMonth();
                        yy = d.getFullYear();
                        HH = '' + d.getHours();
                        MM = '' + d.getMinutes();

                        if (dd.length < 2) dd = '0' + dd;
                        if (mm.length < 2) mm = '0' + mm;
                        if (HH.length < 2) HH = '0' + HH;
                        if (MM.length < 2) MM = '0' + MM;

                        data = dd + '.' + mm + ' ' + yy + ' ' + HH + ':' + MM;
                        return data;
                    }
                },
                {
                    "data": null,
                    "orderable": false,
                    "render": function(data, type, row, meta){
                        data = '<a href="/snippets/' + row.slug + '/update"><img src={% static 'icons/edit.png' %} height=16></a>' +
                               '&ThickSpace;|&ThickSpace;<a href="/snippets/' + row.slug + '/delete"><img src={% static 'icons/delete.png' %} height=16></a>';
                        return data
                    }
                }
            ],
            columnDefs: [
                { width: '0%', targets: [0, 3, 4] },
                { width: '6%', targets: [6,] },
                { width: '12%', targets: [2, 5,] },
            ],
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });
</script>
{% endblock %}