{% extends 'pages/snippet_list.html' %}
{% load static %}

{% block main %}
<table id="snippets_table" class="display">
    <thead>
    <tr>
        <th>Язык</th>
        <th>Имя</th>
        <th><img src="{% static 'icons/lock.png' %}" width="16"></th>
        <th><img src="{% static 'icons/heart_0.png' %}" width="16"></th>
        <th><img src="{% static 'icons/comment.png' %}" width="16"></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
</table>
{% endblock %}

{% block script %}
<script>
    $(document).ready( function () {
        $('#snippets_table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/ajax/snippet_user_is_author/json",
            "columns": [
                {"data": "lang"},
                {
                    "data": "name",
                    "render": function(data, type, row, meta){
                        data = '<a href="/snippets/' + row.slug + '">' + data + '</a>';
                        return data;
                    }
                },
                {
                    "data": "is_private",
                    "render": function(data, type, row, meta){
                        if (data) {
                            data = '<img src={% static 'icons/lock.png' %} height=16>';
                        } else {
                            data = '';
                        }
                        return data
                    }
                },
                {"data": "like_count"},
                {"data": "comment_count"},
                {
                    "data": null,
                    "render": function(data, type, row, meta){
                        data = '<a href="/snippets/' + row.slug + '/update"><img src={% static 'icons/edit.png' %} height=16></a>';
                        return data
                    }
                },
                {
                    "data": null,
                    "render": function(data, type, row, meta){
                        data = '<a href="/snippets/' + row.slug + '/delete"><img src={% static 'icons/delete.png' %} height=16></a>';
                        return data
                    }
                }
            ],
        });
    });
</script>
{% endblock %}