{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
{% endblock %}

{% block main %}
<table id="snippets_table" class="display">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Язык</th>
        <th>Имя</th>
        <th><img src="{% static 'icons/heart_0.png' %}" width="16"></th>
        <th><img src="{% static 'icons/comment.png' %}" width="16"></th>
        <th><img src="{% static 'icons/user.png' %}" width="16"></th>
    </tr>
    </thead>
</table>
{% endblock %}

{% block script %}
<script>
    $(document).ready( function () {
        $('#snippets_table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/ajax/snippet_non_private/json",
            "columns": [
                {"data": "creation_date"},
                {"data": "lang"},
                {"data": "name",
                 "render": function(data, type, row, meta){
                     data = '<a href="/snippets/' + row.slug + '">' + data + '</a>';
                     return data;
                 }
                },
                {"data": "like_count"},
                {"data": "comment_count"},
                {"data": "author"}
            ],
        });
    });
</script>
{% endblock %}

