{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<style>
.media-body .author {
display: inline-block;
font-size: 1rem;
color: #000;
font-weight: 700;
}

.media-body .metadata {
display: inline-block;
margin-left: .5rem;
color: #777;
font-size: .8125rem;
}

.footer-comment {
color: #777;
}

.comment-delete {
color: #777;
}

.media-text {
margin-bottom: 0.25rem;
}

.title-comments {
font-size: 1.4rem;
font-weight: bold;
line-height: 1.5rem;
color: rgba(0, 0, 0, .87);
margin-bottom: 1rem;
padding-bottom: .25rem;
border-bottom: 1px solid rgba(34, 36, 38, .15);
}

li {
list-style-type: none;
}

.asteriskField {
    display: none;
}


</style>
<link href="{% static 'css/pastie-theme.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm">
        <table class="table table-borderless">
            <tr class="border-bottom">
                <th class="table-light">Имя</th>
                <td>{{ snippet.name }}</td>
            </tr>
            <tr class="border-bottom">
                <th class="table-light">Язык</th>
                <td>{{ snippet.lang }}</td>
            </tr>
            <tr class="border-bottom">
                <th class="table-light">Дата</th>
                <td>{{ snippet.creation_date|date:'d.m.y H:i' }}</td>
            </tr>
            <tr>
                <th class="table-light">Автор</th>
                <td>{{ snippet.author|truncatechars:30 }}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm">
        <table class="table table-borderless">
            <thead class="border-bottom">
                <tr>
                    <th class="table-light">Описание</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ snippet.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <pre style="border-radius:7px">
            <code data-language="{{ snippet.lang }}" id="copy-code">{{ snippet.code}}</code>
            <button onclick="CopyToClipboard()"
                    id="copy-button"
                    class="btn btn-outline-secondary btn-sm position-absolute top-0 end-0 m-1">Ctrl+C</button>
        </pre>
    </div>
</div>
{% if not snippet.is_private %}
<div class="row">
    <div class="col-2">
        {% if anon_user %}
        <img src="{% static 'icons/heart_1.png' %}" style="text-decoration: none;" height="16">
        {% else %}
        <span id="like_button" name="{{ snippet.id }}" href="" style="text-decoration: none;">
            {% if not is_liked %}
            <img class="like_image" src="{% static 'icons/heart_0.png' %}" height="16">
            {% else %}
            <img class="like_image" src="{% static 'icons/heart_1.png' %}" height="16">
            {% endif %}
        </span>
        {% endif %}
        <span id="like_count">{{ snippet.snippetlike_set.count }}</span>
    </div>
    <div class="col-2">
        <img src="{% static 'icons/comment.png' %}" height="16">&nbsp;{{ snippet.comment_set.all.count }}
    </div>
    {% if snippet.author == user %}
    <div class="col-2">
        <a href="{% url 'snippet_update_page' snippet.slug %}?next={{ request.path }}">
            <img src="{% static 'icons/edit.png' %}" width="16">
        </a>
    </div>
    <div class="col-2">
        <a href="{% url 'snippet_delete_page' snippet.slug %}">
            <img src="{% static 'icons/delete.png' %}" width="16">
        </a>
    </div>
    {% endif %}
</div>
<hr>
<div class="comments">
    <ul class="media-list">
        {% for comment in snippet.comment_set.all|dictsortreversed:'date' %}
        <li class="media">
            <div class="media-left">
                <img class="media-object img-rounded" src="" alt="">
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <div class="author">{{ comment.author }}</div>
                    <div class="metadata">
                        <span class="date">{{ comment.date|date:'d.m.Y в H:i' }}</span>
                    </div>
                </div>
                <div class="media-text text-justify">{{ comment.text }}</div>
                <div class="footer-comment">
                    {% if comment.author == user %}
                    <a class="comment-delete" href="{% url 'delete_comment' comment.id %}">
                        Удалить
                    </a>
                    {% endif %}
                </div>
            </div>
            {% empty %}
        <li class="row">
            <div class="col">
                Пока никто не оставил комментарий к этому сниппету
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<hr>
<div class="row">
    <div class="col">
        <form method="post" action="{% url 'create_comment' %}">
            {% csrf_token %}
            <input type="hidden" name='snippet' value="{{ snippet.id }}">
            {{ comment_form.text|as_crispy_field }}
            <input type="submit" class="btn btn-light mt-2" value="Отправить">
        </form>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Войдите</a>, чтобы оставить комментарий
        {% endif %}
    </div>
</div>
{% else %}
<div class="row">
    {% if snippet.author == user %}
    <div class="col-2">
        <a href="{% url 'snippet_update_page' snippet.slug %}?next={{ request.path }}">
            <img src="{% static 'icons/edit.png' %}" width="16">
        </a>
    </div>
    <div class="col-2">
        <a href="{% url 'snippet_delete_page' snippet.slug %}">
            <img src="{% static 'icons/delete.png' %}" width="16">
        </a>
    </div>
    {% endif %}
</div>
<div class="row">
    <hr>
    <div class="col-4" align="center">
        Приватный сниппет комментировать нельзя
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'js/rainbow-custom.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.js' %}" type="text/javascript"></script>

<script>
    window.snippetlike_url = "{% url 'switch_snippetlike' snippet.id %}"
</script>

<!-- Like button handling -->
<script>
    $('#like_button').click(function(){
        console.log('like_clicked');

        var pk = $(this).attr('name');
        var like_image = $(this).find('.like_image');
        var like_count = parseInt($('#like_count').text());
        console.log('like_count:', like_count);

        $.ajax({
            url: window.snippetlike_url,
            type: "GET",
            data: {},
            dataType: "json",
            success: function(response) {
                if (response.was_liked) {
                    like_image.attr('src', '{% static 'icons/heart_0.png' %}');
                    $('#like_count').text(like_count - 1)
                } else {
                    like_image.attr('src', '{% static 'icons/heart_1.png' %}');
                    $('#like_count').text(like_count + 1)
                }
            }
        });
    });
</script>

<!-- Ctrl+C button handling -->
<script>
    function CopyToClipboard() {
        // Copy text
        var r = document.createRange();
        r.selectNode(document.getElementById('copy-code'));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();

        // Change copy button
        var button = document.getElementById('copy-button');
        button.classList.remove('btn-outline-secondary');
        button.classList.add('btn-success');
    }
</script>
{% endblock %}