{% extends 'base.html' %}

{% block main %}
<div class="row bg-info border-bottom">
    <div class="col">Имя</div>
    <div class="col">Язык</div>
    <div class="col">Дата создания</div>
    <div class="col">Скрыт</div>
    <div class="col">Автор</div>
</div>

{% for snippet in object_list %}
<a href="{% url 'snippet_detail_page' snippet.slug %}">
    <div class="row border-bottom">
        <div class="col">{{ snippet.name }}</div>
        <div class="col">{{ snippet.lang }}</div>
        <div class="col">{{ snippet.creation_date }}</div>
        <div class="col">{{ snippet.is_private }}</div>
        <div class="col">{{ snippet.author }}</div>
    </div>
</a>
{% empty %}
Пока нет ни одного сниппета
{% endfor %}
{% endblock %}