{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<style>
.media-body .author {
display: inline-block;
font-size: 1rem;
color: #000;
font-weight: 700;
}
.media-body .metadata {
display: inline-block;
margin-left: .5rem;
color: #777;
font-size: .8125rem;
}
.footer-comment {
color: #777;
}

.comment-delete {
color: #777;
}

.media-text {
margin-bottom: 0.25rem;
}

.title-comments {
font-size: 1.4rem;
font-weight: bold;
line-height: 1.5rem;
color: rgba(0, 0, 0, .87);
margin-bottom: 1rem;
padding-bottom: .25rem;
border-bottom: 1px solid rgba(34, 36, 38, .15);
}

li {
list-style-type: none;
}
</style>
<link href="{% static 'css/pastie-theme.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<table class="table">
    <tr>
        <th>Имя</th>
        <td>{{ snippet.name }}</td>
    </tr>
    <tr>
        <th>Язык</th>
        <td>{{ snippet.lang }}</td>
    </tr>
    <tr>
        <th>Дата</th>
        <td>{{ snippet.creation_date|date:'d.m.y H:i' }}</td>
    </tr>
    <tr>
        <th>Автор</th>
        <td>{{ snippet.author }}</td>
    </tr>
</table>

<div class="row">
        <pre>
            <code data-language="{{ snippet.lang }}">{{ snippet.code}}</code>
        </pre>
</div>
{% if not snippet.is_private %}
<div class="row">
    <div class="col-2">
        {% if anon_user %}
        <img src="{% static 'icons/heart_1.png' %}" style="text-decoration: none;">
        {% else %}
        {% if not is_liked %}
        <a href="{% url 'create_snippetlike' snippet.id %}" style="text-decoration: none;">
            <img src="{% static 'icons/heart_0.png' %}" height="16">
        </a>
        {% else %}
        <a href="{% url 'delete_snippetlike' snippet.id %}" style="text-decoration: none;">
            <img src="{% static 'icons/heart_1.png' %}" height="16">
        </a>
        {% endif %}
        {% endif %}{{ snippet.snippetlike_set.count }}
    </div>
    <div class="col-2">
        <img src="{% static 'icons/comment.png' %}" height="16">&nbsp;{{ snippet.comment_set.all.count }}
    </div>
    {% if snippet.author == user %}
    <div class="col-2">
        <a href="{% url 'snippet_update_page' snippet.slug %}">
            <img src="{% static 'icons/edit.png' %}" width="16">
        </a>
    </div>
    <div class="col-2">
        <a href="{% url 'snippet_delete_page' snippet.slug %}">
            <img src="{% static 'icons/delete.png' %}" width="16">
        </a>
    </div>
    {% endif %}
</div>

{% if request.user.is_authenticated %}
<div class="row">
    <div class="col">
        <form method="post" action="{% url 'create_comment' %}">
            {% csrf_token %}
            <input type="hidden" name='snippet' value="{{ snippet.id }}">
            {{ comment_form.text|as_crispy_field }}
            <input type="submit" class="btn btn-light mt-2" value="Отправить комментарий">
        </form>
    </div>
</div>
{% endif %}

<div class="comments">
    <ul class="media-list">
        {% for comment in snippet.comment_set.all|dictsortreversed:'date' %}
        <li class="media">
            <div class="media-left">
                <img class="media-object img-rounded" src="avatar1.jpg" alt="">
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <div class="author">{{ comment.author }}</div>
                    <div class="metadata">
                        <span class="date">{{ comment.date|date:'d.m.Y H:i' }}</span>
                    </div>
                </div>
                <div class="media-text text-justify">{{ comment.text }}</div>
                <div class="footer-comment">
                    {% if comment.author == user %}
                    <a class="comment-delete" href="{% url 'delete_comment' comment.id %}">
                        Удалить
                    </a>
                    {% endif %}
                </div>
            </div>
            {% empty %}
        <li class="row">
            <div class="col">
                Пока никто не оставил комментарий к этому сниппету
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="col-4" align="center">
    Приватный сниппет
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'js/rainbow-custom.min.js' %}"></script>
{% endblock %}